<center><h1> Assignment 7

1. Load your dataset from the “CO2 Emissions.csv” csv file.
2. Explore your dataset and list the name of the text columns.
3. Explore your dataset and check if there is any column with missing values.
4. Select your input variables (only select integer valued columns and columns without missing 
values) and ourput variable (hint: output colum is the one you want to predict).
5. Split your dataset as %80 training and %20 testing.
6. Scale your training data and testing data inputs.
7. Implement your neural network object using the ski-learn python library(you can design a 
network with one or 2 or 3 layers with any amount of the neurons). 
8. Train (fit) your network.
9. Report the accuracy (R2 score) of the neural network for the test datasets.
10. Make a prediction for the given input values:
 Engine Size(L) = 5.6 Cylinders= 8 Fuel Consumption City (L/100 km) =17.5 Fuel Consumption Hwy 
(L/100 km) = 12 Fuel Consumption Comb (L/100 km) =15 and Fuel Consumption Comb (mpg) = 1

In [4]:
from google.colab import drive

In [5]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

**1. Loading data**

In [6]:
import pandas as pd
import warnings as w
w.filterwarnings('ignore')

co2_emissions = pd.read_csv("/content/gdrive/MyDrive/DL'/CO2 Emissions.csv")
co2_emissions.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

**2. Explore the data**

In [7]:
co2_emissions.shape

(7385, 12)

In [8]:
co2_emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [9]:
co2_emissions.describe()

,Engine Size(L),Cylinders,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
count,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000,7385.000000
mean,3.160068,5.615030,12.556534,9.041706,10.975071,27.481652,250.584699
std,1.354170,1.828307,3.500274,2.224456,2.892506,7.231879,58.512679
min,0.900000,3.000000,4.200000,4.000000,4.100000,11.000000,96.000000
25%,2.000000,4.000000,10.100000,7.500000,8.900000,22.000000,208.000000
50%,3.000000,6.000000,12.100000,8.700000,10.600000,27.000000,246.000000
75%,3.700000,6.000000,14.600000,10.200000,12.600000,32.000000,288.000000
max,8.400000,16.000000,30.600000,20.600000,26.100000,69.000000,522.000000

In [10]:
co2_emissions.columns

Index(['Make', 'Model', 'Vehicle Class', 'Engine Size(L)', 'Cylinders',
       'Transmission', 'Fuel Type', 'Fuel Consumption City (L/100 km)',
       'Fuel Consumption Hwy (L/100 km)', 'Fuel Consumption Comb (L/100 km)',
       'Fuel Consumption Comb (mpg)', 'CO2 Emissions(g/km)'],
      dtype='object')

In [11]:
co2_emissions.nunique()

Make                                  42
Model                               2053
Vehicle Class                         16
Engine Size(L)                        51
Cylinders                              8
Transmission                          27
Fuel Type                              5
Fuel Consumption City (L/100 km)     211
Fuel Consumption Hwy (L/100 km)      143
Fuel Consumption Comb (L/100 km)     181
Fuel Consumption Comb (mpg)           54
CO2 Emissions(g/km)                  331
dtype: int64

**3. Divide the data into the training and test datasets**

In [12]:
X = co2_emissions[['Engine Size(L)', 'Cylinders', 'Fuel Consumption City (L/100 km)', 'Fuel Consumption Hwy (L/100 km)',
                   'Fuel Consumption Comb (L/100 km)', 'Fuel Consumption Comb (mpg)']]
y = co2_emissions['CO2 Emissions(g/km)']

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [15]:
X_train.shape

(5908, 6)

In [16]:
X_test.shape

(1477, 6)

**4. Scaling data**

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [18]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

**5. Implement the DL model**

In [19]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.optimizers import Adam

In [28]:
def build_model(hp):
    model = Sequential()
    model.add(Flatten(input_shape=(X_train_scaled.shape[1],)))
    model.add(Dense(units=hp.Int('units',
                                min_value=100,
                                max_value=500,
                                step=100)))
    model.add(Dense(1, activation='relu'))

    model.compile(Adam(hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])), loss='mean_squared_error')
    
    return model

**6. Tune the hyper-parameters**

In [29]:
pip install keras-tuner --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras-tuner in /usr/local/lib/python3.9/dist-packages (1.3.5)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (23.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from keras-tuner) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->keras-tuner) (1.26.15)

In [30]:
from kerastuner.tuners import RandomSearch

In [31]:
tuner = RandomSearch(
    build_model,
    objective='val_loss',
    max_trials=5)

In [32]:
tuner.search(X_train_scaled, y_train, epochs=5, validation_split=0.3)
best_model = tuner.get_best_models()[0]

Trial 5 Complete [00h 00m 04s]
val_loss: 356.6967468261719

Best val_loss So Far: 355.62957763671875
Total elapsed time: 00h 00m 17s

In [33]:
tuner.results_summary()

Results summary
Results in ./untitled_project
Showing 10 best trials
Objective(name="val_loss", direction="min")

Trial 3 summary
Hyperparameters:
units: 200
learning_rate: 0.01
Score: 355.62957763671875

Trial 4 summary
Hyperparameters:
units: 400
learning_rate: 0.01
Score: 356.6967468261719

Trial 0 summary
Hyperparameters:
units: 400
learning_rate: 0.001
Score: 1423.3553466796875

Trial 2 summary
Hyperparameters:
units: 500
learning_rate: 0.001
Score: 2974.307861328125

Trial 1 summary
Hyperparameters:
units: 200
learning_rate: 0.001
Score: 32843.1875

**7. Fitting the model to the training data**

In [42]:
best_model.fit(X_train_scaled, y_train)

185/185 [==============================] - 1s 4ms/step - loss: 354.0424

**8. Evaluate the quality of the trained model using test dataset**

In [44]:
best_model.evaluate(X_test_scaled, y_test)

47/47 [==============================] - 0s 1ms/step - loss: 334.7941

334.79412841796875

**9. Make prediction using the trained model**

In [45]:
best_model.predict([[5.6, 8, 17.5, 12, 15, 19]])

1/1 [==============================] - 0s 122ms/step

array([[216.50584]], dtype=float32)